
<%= simple_form_for(@articulo, input_html: {multipart: true}) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


<div class="container">

                <div class="row justify-content-around">
                            




                      <div class="form-inputs col-6">
                              
                              <%= 
                                f.association :categoria,
                                collection: Categoria.all,
                                label_method: :nombre,
                                value_method: :id,
                                :input_html => { :class => 'custom-select' },
                                as: :select
                            
                              %>

                              <div class="form-group"> 
                                <label for="nombre" class="bmd-label-floating">Nombre del articulo</label>
                                <!--input type="text" class="form-control" id="formGroupExampleInput"-->
                                <%= f.input :nombre, label:false, :input_html => { :class => 'form-control' }%>
                              </div>


                              <div class="form-group"> 
                                <label for="cantidad" class="bmd-label-floating">Cantidad</label>
                                <!--input type="text" class="form-control" id="formGroupExampleInput"-->
                                <%= f.input :cantidad, label:false, :input_html => { :class => 'form-control' }%>
                              </div>

                              <div class="form-group"> 
                                <label for="precio" class="bmd-label-floating">Precio del articulo</label>
                                <!--input type="text" class="form-control" id="formGroupExampleInput"-->
                                <%= f.input :precio, label:false, :input_html => { :class => 'form-control' }%>
                              </div>

                            
                          
                                
                          
                                
                            

                        </div>

                        <div class="col-6">
                            <%= f.input :descripcion %>
                        </div>

                  </div>

                  

                  <div >
                    <%= link_to_add_articulos_imagenes("<button type='button' class='btn btn-warning'>Plus</button>".html_safe, f, :contenedores_imagenes_articulos, class: '') %>
                  </div>

                  <table class="table">
                  <tbody class='fields_articulos_imagenes'>
                    <%=f.fields_for :contenedores_imagenes_articulos do |img|%>

                      <%= render 'contenedor_imagenes_articulo', f:img%>

                    <%end%>
                  </tbody>
                </table>


                
                  

                
  </div>
                <div class="">
                    <%= button_tag type: 'submit', class: "btn btn-primary btn-lg btn-block" do %>
                      <span>Guardar
                        <i id="iconoSubmit"class="ion-paper-airplane" aria-hidden="true"></i>
                      </span>
                    <% end %>
                  </div>
<% end %>





<!--div class="form-group">
  <input type="file" name="file" id="file" class="input-file">
  <label for="file" class="btn btn-tertiary js-labelFile">
    <i class="icon fa fa-check"></i>
    <span class="js-fileName">Choose a file</span>
  </label>
</div-->

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<div class="form-group">
  <label class="label">
    <i class="material-icons">attach_file</i>
    <span class="title">Add File</span>
    <input type="file" />
  </label>
</div>