
<%= simple_form_for(@articulo) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


<div class="container">

                <div class="row justify-content-around">
                            




                      <div class="form-inputs col-6">
                              
                              <%= 
                                f.association :categoria,
                                collection: Categoria.all,
                                label_method: :nombre,
                                value_method: :id,
                                :input_html => { :class => 'custom-select' },
                                as: :select
                            
                              %>

                              <div class="form-group"> 
                                <label for="nombre" class="bmd-label-floating">Nombre del articulo</label>
                                <!--input type="text" class="form-control" id="formGroupExampleInput"-->
                                <%= f.input :nombre, label:false, :input_html => { :class => 'form-control' }%>
                              </div>


                              <div class="form-group"> 
                                <label for="cantidad" class="bmd-label-floating">Cantidad</label>
                                <!--input type="text" class="form-control" id="formGroupExampleInput"-->
                                <%= f.input :cantidad, label:false, :input_html => { :class => 'form-control' }%>
                              </div>

                              <div class="form-group"> 
                                <label for="precio" class="bmd-label-floating">Precio del articulo</label>
                                <!--input type="text" class="form-control" id="formGroupExampleInput"-->
                                <%= f.input :precio, label:false, :input_html => { :class => 'form-control' }%>
                              </div>



                            <div class="input-group">
                              <div class="custom-file">
                                <!--%=f.file_field 'imagen'%-->
                                <%= f.input :imagen, as: :file, :input_html => { :class => 'custom-file-input' }%>
                              </div>
                            </div>
                            
                          
                                
                          
                                
                            

                        </div>

                        <div class="col-6">
                            <%= f.input :descripcion %>
                        </div>

                  </div>

                  

                  
  </div>

                <div class="">
                    <%= button_tag type: 'submit', class: "btn btn-primary btn-lg btn-block" do %>
                      <span>Guardar
                        <i id="iconoSubmit"class="ion-paper-airplane" aria-hidden="true"></i>
                      </span>
                    <% end %>
                  </div>
<% end %>
